body{
	margin: 0;
	padding: 0;
}
p img{
	width: 100%;
	height: 450px;
}
html,
body {
	width: 100%;
	height: 100%;
	font-family: "Raleway";
	font-weight: 400;
}

body{ 
    text-align: center; 
    background: #00ECB9; 
  font-family: sans-serif; 
  font-weight: 100; 
} 
h1{ 
  color: #396; 
  font-weight: 100; 
  font-size: 40px; 
  margin: 40px 0px 20px; 
} 
h4{
	line-height: 50px;
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	text-align: center;
}
.chuctet{
	display: flex;
	width: 950px;
	margin: auto;
}
.chuctet .anh1{
	width: 33%;
	margin-right: 40px;
}
.chuctet .anh1 img{
	width: 70%;
}
.chuctet{
	display: flex;
}
.chuctet .anh2{
	width: 33%;
	margin-left: 40px;

}
.chuctet .anh2 img{
	width: 70%;
}
.chuctet .tho{
	width: 33%;
}
.happy{
	font-family: 'Great Vibes', cursive;
	font-size: 50pt;
	margin: 20px 0px;
}
 #clockdiv{ 
    font-family: sans-serif; 
    color: #fff; 
    display: inline-block; 
    font-weight: 100; 
    text-align: center; 
    font-size: 30px; 
} 
#clockdiv > div{ 
    padding: 10px; 
    border-radius: 3px; 
    background: #00BF96; 
    display: inline-block; 
} 
#clockdiv div > span{ 
    padding: 15px; 
    border-radius: 3px; 
    background: #00816A; 
    display: inline-block; 
} 
.smalltext{ 
    padding-top: 5px; 
    font-size: 16px; 
} 